<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu <!-- TODO : Block sidenav if MovieDetail is open -->
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Éval Angular M1 CP IL <!-- TODO : Add comeback link to home page + add icon for toolbar -->
  <!-- TODO : Add links to my github + linkedin -->
  <!-- TODO : Add easter egg to the project -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>home</mat-icon> <!-- TODO : Change each icon to corresponding icon -->
        <span>Action</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Adventure</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>Animation</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Comedy</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <span>Crime</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <span>Documentary</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <span>Drama</span>
  </button>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-movies></app-movies>
  </mat-sidenav-content>
</mat-sidenav-container>