<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 10px; padding-right: 10px; padding-top: 10px;" *ngIf="!detailsInformation">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movies">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="movie.poster_path">
        <mat-card-content>
          <p>Release Date : {{movie.release_date}}</p>
          <p>Resume : {{movie.overview}}</p>
          <p fxLayoutAlign="end center"><span class="aligned-with-icon-relative">{{movie.vote_average}}</span><mat-icon class="grade-icon">grade</mat-icon>({{movie.vote_count}})</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="getMoreInformation(movie.id)">More information</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" *ngIf="detailsInformation">
    <div fxFlex="30">
      <img mat-card class="detail-image" [src]="movieDetails.poster_path">
    </div>
    <div fxFlex="70" style="padding-top: 10px; padding-right: 10px;">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{movieDetails.title}}</mat-card-title>
          <mat-card-subtitle>Extra large</mat-card-subtitle> <!-- TODO: Add all data needed into the car -->
        </mat-card-title-group>
        <mat-card-content>
          {{movieDetails.title}}
        </mat-card-content>
      </mat-card>
    </div> <!-- TODO: Add all comments + write comments + add like button -->
  </div>
</div>